.page-title {
  text-align: center;
  font-size: 40px;
  font-family: 'Orbitron', sans-serif;
  margin-top: 30px;
  margin-bottom: 0;
  color:black;
}

html{
  background-image: linear-gradient(60deg, #96deda 0%, #50c9c3 100%);
  height: 100vh;
}

.button-box {
  margin: auto;
  text-align: center;
  padding-bottom: 20px;
}

.button1, .button2, .button3 {
  border: 5px solid;
  font-size: 15px;
  font-family: 'Orbitron', sans-serif;
}

.button1 {
  color: black;
}

.button2 {
  color: black;
  background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);

}

.button3 {
  color: black;
  
}

#container {
  height: 450px;
  width: 800px;
  border: red 40px solid;
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  margin: auto;

}

.box {
  border: black 1px solid;
  background-color: white;
  cursor: grabbing;
}
